target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture/
!**/src/test/resources/
bin/
build/
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.iws
.vscode/
.DS_Store
*.log
.mvn/
mvnw
mvnw.cmd
